# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage/

# local environment
.env*
!.env.example

# editor and operating system
.DS_Store
*.swp

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
